
<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Main</title>
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/assets/css/nice-select.min.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  />
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />

  <link href="/assets/css/responsive.css" rel="stylesheet" />
</head>
<body>
<div class="hero_area">
  <div class="bg-box">
    <img src="/assets/images/slider-bg.jpg" alt="" />
  </div>
  <!-- Header Section Start -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
          <span> Scheidt & Bachmann Maghreb </span>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <ng-container *ngIf="!isUserSignedIn(); else loggedInUser">
              <li class="nav-item active">
                <button class="custom-button" (click)="navigateToDJobs()">Career <span class="sr-only">(current)</span></button>
              </li>
              <li class="nav-item">
                <button class="custom-button"    (click)="navigateToDivisons()"> Divisons</button>
              </li>
              <li class="nav-item">
                <button class="custom-button" style="margin-right: 10px;" (click)="navigatetoatbot()">ChatBot</button>
              </li>
              <li class="nav-item">
                <button class="custom-button" (click)="navigateToLogin()">Login</button>
              </li>
              <li class="nav-item">
                <button class="custom-button" style="margin-right: 10px;" (click)="navigateToSignup()">Sign up</button>
              </li>

            </ng-container>
            <ng-template #loggedInUser>
              <li class="nav-item" *ngIf="jwtService.getRole() === 'user'">
                <button class="custom-button" (click)="navigateToDJobs()">Career <span class="sr-only">(current)</span></button>
              </li>
              <li class="nav-item" *ngIf="jwtService.getRole() === 'admin'">
                <button class="custom-button" (click)="navigateToManageJobs()">Manage Jobs <span class="sr-only">(current)</span></button>
              </li>
              <li class="nav-item" *ngIf="jwtService.getRole() === 'admin'">
                <button class="custom-button" (click)="navigateTomanagejusers()">Manage Users </button>
              </li>
              <li class="nav-item">
                <button class="custom-button"    (click)="navigateToDivisons()"> Divisons</button>
              </li>

              <li class="nav-item">
                <button class="custom-button">{{ getUserDisplayName() }}</button>
              </li>
              <li class="nav-item" *ngIf="jwtService.getRole() === 'user'">
                <button class="custom-button" (click)="navigateToManageAccount()">Manage Account</button>
              </li>

              <li class="nav-item">
                <button class="custom-button" style="margin-right: 10px;" (click)="navigatetoatbot()">ChatBot</button>
              </li>
              <li class="nav-item">
                <button class="custom-button" (click)="logout()">Logout</button>
              </li>

            </ng-template>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- Header Section End -->

  <!-- Slider Section Start -->
  <section class="slider_section">
    <div class="container">
      <div class="detail-box col-md-9 mx-auto px-0">
        <div class="img-box" id="s&b">
          <img src="assets/images/s&b1.png" alt="" />
          <h1>Maghreb</h1>
        </div>
        <h1>PARKING SOLUTIONS</h1>
        <br />
        <h1>SMART SOLUTIONS FOR YOUR PARKING BUSINESS</h1>
      </div>
    </div>
  </section>
  <!-- Slider Section End -->
</div>

<!-- About Section Start -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>About Us</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="img-box">
          <img src="./assets/images/about-img.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="detail-box">
          <h3>We Are Here For Help</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic aliquid aspernatur
            aperiam sed veniam libero excepturi. Impedit labore, dolores molestias dolore saepe
            suscipit, totam aliquam nam asperiores amet ullam? Inventore!
          </p>
          <p>
            Molestiae odio earum non qui cumque provident voluptates, repellendus
            exercitationem, possimus at iste corrupti officiis unde alias eius ducimus
            reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
          </p>
          <a href=""> Read More </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Values Section Start -->
<section class="why_section layout_padding-bottom">
  <div class="container">
    <div class="col-md-10 px-0">
      <div class="heading_container">
        <h2>Our Values</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h4>RESPECT</h4>
            <p>
              Respect is the cornerstone of our interactions, both internally and externally. We
              value diversity, empathy, and open communication, fostering an inclusive
              environment where everyone feels valued and heard.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h4>RELIABILITY</h4>
            <p>
              We pride ourselves on our reliability and consistency. With a dedication to
              delivering on our promises and exceeding expectations, we build trust with our
              clients, partners, and team members, ensuring long-lasting relationships built on
              reliability and accountability.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="detail-box">
            <h4>TEAM SPIRIT AND PASSION</h4>
            <p>
              We believe in the power of collaboration and enthusiasm. With a shared sense of
              purpose and a passion for what we do, we foster a vibrant team spirit that drives
              us to achieve extraordinary results together.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Values Section End -->

<!-- Info Section Start -->
<section class="info_section">
  <div class="container">
    <div class="info_top">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_form">
            <div class="img-box" > <!-- hony ken fama id id="s&b" -->
              <img src="assets/images/s&b2.png" alt="" />
            </div>
            <div class="social_box"></div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>BUSINESS DIVISIONS</h4>
            <ul>
              <li>Parking Solutions</li>
              <li>Signalling Systems</li>
              <li>Fare Collection Systems</li>
              <li>Fuel Retail Solutions</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>SOCIAL MEDIA</h4>
            <div class="social_media">
              <div class="social_item">
                <img src="assets/images/xing.png" alt="Social Media Image 1" />
                <span (click)="redirectToWebpage('https://www.xing.com/pages/scheidt-bachmanngmbh')"
                      (mouseenter)="setHoveredElement('xing')"
                      (mouseleave)="setHoveredElement('')"
                      [ngClass]="{'dark-yellow': hoveredElement === 'xing'}">Xing</span>
              </div>
              <div class="social_item">
                <img src="assets/images/ln.png" alt="Social Media Image 2" />
                <span (click)="redirectToWebpage('https://www.linkedin.com/company/scheidt-&-bachmann')"
                      (mouseenter)="setHoveredElement('linkedin')"
                      (mouseleave)="setHoveredElement('')"
                      [ngClass]="{'dark-yellow': hoveredElement === 'linkedin'}">LinkedIn</span>
              </div>
              <div class="social_item">
                <img src="assets/images/ig.png" alt="Social Media Image 3" />
                <span (click)="redirectToWebpage('https://www.instagram.com/scheidtundbachmann_karriere/')"
                      (mouseenter)="setHoveredElement('instagram')"
                      (mouseleave)="setHoveredElement('')"
                      [ngClass]="{'dark-yellow': hoveredElement === 'instagram'}">Instagram</span>
              </div>
              <div class="social_item">
                <img src="assets/images/ig.png" alt="Social Media Image 4" />
                <span (click)="redirectToWebpage('https://www.instagram.com/scheidtundbachmann_parking/')"
                      (mouseenter)="setHoveredElement('instagramParking')"
                      (mouseleave)="setHoveredElement('')"
                      [ngClass]="{'dark-yellow': hoveredElement === 'instagramParking'}">Instagram Parking Solutions</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 info_col">
          <h4>Contact us</h4>
          <p>
            3 Bis rue de la Teinturerie – Z.I. Sidi Rezig 2033 Megrine – Ben Arous Tunisia
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Info Section End -->

</body>
</html>
