<!-- Header Section Start -->
<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Main</title>
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        .contact-header h2,
        .contact-header p,
        .form-group label,
        .form-group input,
        .form-group textarea,
        .btn {
            font-family: 'Roboto';
        }
    </style>
    <link rel="stylesheet" href="/assets/css/nice-select.min.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />

    <link href="/assets/css/responsive.css" rel="stylesheet" />
</head>
<body>
<div class="hero_area">
    <div class="bg-box">
        <img src="/assets/images/slider-bg.jpg" alt="" />
    </div>
    <!-- Header Section Start -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                    <span> Scheidt & Bachmann Maghreb </span>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <ng-container *ngIf="!isUserSignedIn(); else loggedInUser">
                            <li class="nav-item active">
                                <a class="nav-link" href="">Career <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=""     (click)="navigateToDivisons()"> Divisons</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" (click)="navigateToContact()">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-login" (click)="navigateToLogin()">Login</a>
                            </li>
                            <li class="nav-item">
                                <button class="btn bsb-btn-xl btn-primary custom-signup-button" (click)="navigateToSignup()">Sign up</button>
                            </li>
                        </ng-container>
                        <ng-template #loggedInUser>
                            <li class="nav-item active">
                                <a class="nav-link" href="">Career <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=""> Divisons</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" (click)="navigateToContact()">Contact</a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">{{ getUserDisplayName() }}</span>
                            </li>
                            <li class="nav-item" *ngIf="jwtService.getRole() === 'user'">
                                <a class="nav-link" routerLink="/manage-account">Manage Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-logout" (click)="logout()">Logout</a>
                            </li>
                        </ng-template>
                    </ul>
                </div>


            </nav>
        </div>
    </header>
    <!-- Slider Section Start -->
    <section class="slider_section">
        <div class="container">
            <div class="detail-box col-md-9 mx-auto px-0">
                <div class="img-box" id="s&b">
                    <img src="assets/images/s&b1.png" alt="" />
                    <h1>Maghreb</h1>
                </div>
                <h1>PARKING SOLUTIONS</h1>
                <br />
                <h1>SMART SOLUTIONS FOR YOUR PARKING BUSINESS</h1>
            </div>
        </div>
    </section>
    <!-- Slider Section End -->
</div>
<br><br><br>
    <div class="contact-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="contact-header">
                    <h2 class="text-center">Change Username</h2>
                    <p class="text-center">Update your Username Here</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="contact-form">
                    <form (ngSubmit)="changeUsername()">
                        <div class="form-group">
                            <label for="newUsername">New Username:</label>
                            <input type="text" id="newUsername" name="newUsername" class="form-control" [(ngModel)]="newUsername" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<br><br><br><br>

<!-- Info Section Start -->
<section class="info_section">
    <div class="container">
        <div class="info_top">
            <div class="row">
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_form">
                        <div class="img-box" > <!-- hony ken fama id id="s&b" -->
                            <img src="assets/images/s&b2.png" alt="" />
                        </div>
                        <div class="social_box"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_detail">
                        <h4>BUSINESS DIVISIONS</h4>
                        <ul>
                            <li>Parking Solutions</li>
                            <li>Signalling Systems</li>
                            <li>Fare Collection Systems</li>
                            <li>Fuel Retail Solutions</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col">
                    <div class="info_detail">
                        <h4>SOCIAL MEDIA</h4>
                        <div class="social_media">
                            <div class="social_item">
                                <img src="assets/images/xing.png" alt="Social Media Image 1" />
                                <span>Xing</span>
                            </div>
                            <div class="social_item">
                                <img src="assets/images/ln.png" alt="Social Media Image 2" />
                                <span>LinkedIn</span>
                            </div>
                            <div class="social_item">
                                <img src="assets/images/ig.png" alt="Social Media Image 3" />
                                <span>Instagram </span>
                            </div>
                            <div class="social_item">
                                <img src="assets/images/ig.png" alt="Social Media Image 4" />
                                <span>Instagram Parking Solutions </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col">
                    <h4>Contact us</h4>
                    <p>
                        3 Bis rue de la Teinturerie – Z.I. Sidi Rezig 2033 Megrine – Ben Arous Tunisia
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

