<div class="modal" [ngClass]="{'show': showModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <div class="modal-logo">

          <img class="logo" src="assets/images/s&b.png" alt="Logo" width="250" height="150">
        </div>
        <button type="button" class="close" (click)="closeModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="selectedJobData.name" name="name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="selectedJobData.description" name="description" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="custom-button" (click)="closeModal()">Close</button>
        <button type="button" class="custom-button" (click)="updateJob()">Save changes</button>
      </div>
    </div>
  </div>
</div>





<div class="modal" id="myModal0">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div> <img class="logo" src="assets/images/s&b.png" alt="Logo" width="250" height="150"></div>

        <button type="button" class="btn-close"  (click)="closemodal()"data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Job modification successful.
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="custom-button" data-bs-dismiss="modal" (click)="closemodal()">Close</button>
      </div>
    </div>
  </div>
</div>

