<div class="modal" [ngClass]="{'show': showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
      </div>
      <div class="modal-body">
        <p>{{ modalMessage }}</p>
        <!-- Add temporary text or elements here -->
        <p>Temporary text</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">OK</button>
      </div>
    </div>
  </div>
</div>
